.icon {
  margin-right: 5px;

  &--info {
    color: white;

  }
  &--movieInfo {
    font-size: 1rem;
    margin-right: 10px;
  }

  //&__arrow{
  //  color: white;
  //  font-weight: 400;
  //  font-size: 4rem;
  //  padding: 10px;
  //  z-index: 3;
  //  position: absolute;
  //
  //}
  //&--left {
  //
  //
  //}
  //
  //&--right{
  //  right: 20px;
  //
  //}

}