@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Open Sans";
}
.App{
  background-color: #141414;

  a {
    text-decoration: none;
    background-color: transparent;
    color: black;
  }
  .rows{
    margin-top: -20px;
  }
  //.icon {
  //  margin-right: 5px;
  //
  //  &--info {
  //    color: white;
  //
  //  }
  //  &--movieInfo {
  //    font-size: 1rem;
  //    margin-right: 10px;
  //  }
  //
  //}

}


